{% extends 'admin.html.twig' %}
{% block stylesheets %}
	<link href="{{asset('css/admin.css')}}" rel="stylesheet" media="all">
{% endblock %}

{% block body %}
	<script>
		// Function to check if the user wants to delete or not.
function deleteConfirm($id) {
if (confirm("Are you sure to delete!")) {
delete_row($id)
} else {
return false;
}
}
	</script>

	<section class="header mx-5">
		<div class="container mt-4 mb-3">
			<div class="text-center lh-1 mb-2">
				<h4 class="fw-bold">Clothing Size Conversion</h4>
			</div>
			<div class="d-flex justify-content-end">
				<span>Branch: DANA_ISCHG</span>
			</div>
		</div>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-5 text-center">
				{{ message }}
			</div>
		{% endfor %}

		<table class="mt-2 table table-bordered" id="inseart_row">
			<div class="justify-content-md-start d-flex">
				<h6 class="fw-bold">Product:</h6>
				<h6 class="ms-2">
					{{proName}}</h6>
			</div>

			<thead class="bg-dark text-white text-center">
				<tr>
					<th scope="col">Size ID</th>
					<th scope="col">Size Name</th>
					<th scope="col">Quantity</th>

					{# Edit, Delete #}
					<th scope="col">Edit</th>
					<th scope="col">Delete</th>
					{# Edit, Delete #}

				</tr>
			</thead>

			{% for s in sizes %}
				<tr id="row_pro" class="text-center align-middle">
					<th scope="row">{{s.sizeId}}</th>
					<td>{{s.sizeName}}</td>
					<td>{{s.productQty}}</td>
					{# Edit, Delete #}
					<td>
						<a href="{{path('editSize_page', {'id':s.sizeId})}}">
							<button class="bi bi-pencil-square border-0 bg-white"></button>
						</a>
					</td>
					<td>
						<a>
							<button class="bi bi-trash3 border-0 bg-white" onclick="deleteConfirm('{{s.sizeName}}');"></button>
						</a>
					</td>
				</tr>
			{% endfor %}

		</table>
		<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			<button class="btn btn-dark" type="button">
				<a href="{{path('addSize_page', {'id':proID})}}" class="text-decoration-none text-reset">Add new item</a>
			</button>
		</div>
	</tbody>
</section>{% endblock %}
