{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link href="{{asset('css/header.css')}}" rel="stylesheet" media="all">

{% endblock %}

{% block body %}
	<section class="py-2 h-100">
		<div class="d-flex justify-content-center align-items-center">
			<div class="card card-registration card-registration-2" style="border: none;">
				<div class="card-body p-0">
					{% for message in app.flashes('success') %}
						<div class="alert alert-success mt-2 text-center">
							{{ message }}
						</div>
					{% endfor %}
					<div class="row g-0">
						<div class="col-lg-8">
							<div class="p-5">

								<div id="class=" d-flex justify-content-between align-items-center pb-5"">
									<h1 class="title-cart fw-bold mb-0 text-black">Shopping Cart</h1>
								</div>
								<div
									id="row_cart">
									
									{# Create local parameter to show unit price and total #}
									{% set count = 0 %}
									{% set total = 0 %}

									{# Display cart start #}
									{% for c in carts %}
										<div id="row_product{{c.psId}}">
											<hr class="my-2">
											<div class="row mb-4 d-flex justify-content-between align-items-center">
												<div class="col-md-2 col-lg-2 col-xl-2">
													{% set img = c.image %}
													<a href="{{path('proDetail_page', {'id': c.pId})}}">
														<img src="{{asset('images/'~img)}}" class="img-fluid rounded-3" alt="">
													</a>
												</div>
												<div class="col-md-3 col-lg-3 col-xl-3">
													<h6 class="text-muted">{{c.cateName}}</h6>
													<h6 class="text-black mb-0"></h6>
													{{c.pName}}</h6>
												<h6 class="text-muted mt-1">{{c.sizeName}}</h6>
											</div>

											{# Update count #}
											<div class="col-md-3 col-lg-3 col-xl-2 d-flex">
												<div class="product-count">
													<div class="display-flex">
														<form action="{{path('changeAction')}}" method="POST" class="p-0">
															<button class="qtyminus">
																<input type="hidden" name="cartId" value="{{c.cartId}}">
																<input type="hidden" name="action" value="minus">
																-
															</button>
														</form>
														<input type="text" name="quantity" id="quantity" value="{{c.num}}" class="qty">
														<form action="{{path('changeAction')}}" method="POST" class="p-0">
															<button class="qtyplus">
																<input type="hidden" name="cartId" value="{{c.cartId}}">
																<input type="hidden" name="action" value="plus">
																+
															</button>
														</form>
													</div>
												</div>
											</div>
											
											<div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1 mt-4">
												<h6 class="mb-0">{{c.unitTotal}}</h6>
											</div>
											<div class="col-md-1 col-lg-1 col-xl-1 text-end">
												<a onclick="delete_rowCart({{c.psId}})" class="text-muted">
													<i class="fas fa-times"></i>
												</a>
											</div>
										</div>
									</div>

									{# Count the total number of items #}
									<input type="hidden" name="">
									{% set count = loop.length %}
									{# Total #}
									{% set total = total + c.unitTotal %}

								{% endfor %}
								{# Display cart end #}

							</div>

							<hr
							class="my-4">

							{# Check Cart emty #}
							<div>
								{% if carts|length == 0 %}
									<img src="{{asset('images/empty.gif')}}" style=" display: block; margin-left: auto; margin-right: auto; width: 50%;" alt="">
									<p class="text-center" style=" display: block; margin-left: auto; margin-right: auto; ">
										Product Cart is empty</p>
								{% endif %}
							</div>
						</div>
					</div>

					<div class="col-lg-4 bg-grey">
						<div class="p-5">
							<h3 class="title-cart fw-bold mb-5 mt-2 pt-1">Summary</h3>
							<hr class="my-4">
							<div class="d-flex justify-content-between mb-4">
								<h5 class="text-uppercase">items
									{{count}}
								</h5>
							</div>

							<h5 class="text-uppercase mb-3">Shipping</h5>

							<div class="mb-4 pb-2">
								<select class="button-60">
									<option value="1">Standard-Delivery- $5.00</option>
								</select>
							</div>

							<hr class="my-4">


							<div class="d-flex justify-content-between mb-5">
								<h5 class="text-uppercase">Total price</h5>
								{% if total == 0 %}
									<h5>$00.00</h5>
								{% else %}
									<h5>${{total + 5}}.00</h5>	
								{% endif %}
							</div>

							<form action="{{path('payment_page')}}" method="post">
								<input type="submit" class="btn btn-dark btn-block btn-lg btnCheckout" name="btnCheckout" value="Checkout">
							</form>
						</div>
					</div>	
					<div class="pt-5">
						<h6 class="mb-0 back">
							<a href="{{path('showProduct')}}" class="text-body">
								<i class="fas fa-long-arrow-alt-left ms-5 me-2"></i>
								Back to shop
							</a>
						</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script script script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
	function delete_rowCart(proSize_id) {
		Swal.fire({
			title: 'Are you sure?',
			text: "You won't be able to revert this!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Delete'
		}).then((result) => {
			if (result.isConfirmed) {
				$.ajax({
					type: 'delete',
					url: '/cart/delete/' + proSize_id,
					data: {
					id: proSize_id
				},
				success: function () {
					var row = document.getElementById("row_product" + proSize_id);
					row.parentNode.removeChild(row);
					Swal.fire('Deleted!', 'A product has been deleted.', 'success')
				}
		});
	}
	})
	}
</script>


{% endblock %}
