{% extends 'admin.html.twig' %}
{% block stylesheets %}
	<link href="{{asset('css/admin.css')}}" rel="stylesheet" media="all">
{% endblock %}

{% block body %}
	<section class="header mx-5">
		<div class="container mt-4 mb-3">
			<div class="text-center lh-1 mb-2">
				<h4 class="fw-bold">Category Management</h4>
			</div>
			<div class="d-flex justify-content-end">
				<span>Branch: DANA_ISCHG</span>
			</div>
		</div>

		{# {% for message in app.flashes('success') %}
			<div class="alert alert-success mt-5 text-center">
				{{ message }}
			</div>
		{% endfor %} #}

		<table class="mt-2 table table-bordered">
			<div class="row">
				<div class="col-lg-6">
					<h5>
						Category List</h5>
				</div>
				<div class="col-lg-6 mx-auto">
					<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						<button class="btn btn-dark me-4" type="button">
							<a href="{{path('cate_page')}}" class="text-decoration-none text-reset">Add new Category</a>
						</button>
					</div>
				</div>
			</div>

			<thead class="bg-dark text-white text-center">
				<tr>
					<th scope="col">Category ID</th>
					<th scope="col">Category Name</th>
					<th scope="col">Desciptions</th>
					
					{# Edit, Delete #}
					<th scope="col">Edit</th>
					<th scope="col">Delete</th>
					{# Edit, Delete #}

				</tr>
			</thead>
			{% for c in category %}
				<tr class="text-center align-middle">
					<th scope="row">{{c.id}}</th>
					<td>{{c.name}}</td>
					<td>{{c.descriptions}}</td>
					

					{# Edit, Delete #}
					<td>
						<a href="{{path('category_edit', {'id':c.id})}}">
							<button class="bi bi-pencil-square border-0 bg-white"></button>
						</a>	
					</td>
					<td>
						<a href="{{path('category_delete', {'id':c.id})}}">
							<button class="bi bi-trash3 border-0 bg-white" onclick="return confirm('Are you sure to remove?')"></button>
						</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</tbody>

	{% endblock %}
