{% extends 'base.html.twig' %}

{% block body %}
	<!-- Carousel -->
	<div
		id="demo" class="carousel slide" data-bs-ride="carousel">

		<!-- Indicators/dots -->
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
			<button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
			<button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
		</div>

		<!-- The slideshow/carousel -->
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="images\Poster_3.png" alt="Los Angeles" class="d-block" style="width:100%" onclick="window.location='/product'">
			</div>
			<div class="carousel-item">
				<img src="images\Poster_5.png" alt="Chicago" class="d-block" style="width:100%" onclick="window.location='/product'">
				<div class="carousel-caption">
					<div class="btn-home btn-radius text-center"></div>

				</div>
			</div>
			<div class="carousel-item">
				<img src="images\Poster_4.png" alt="New York" class="d-block" style="width:100%" onclick="window.location='/product'">

			</div>
		</div>

		<!-- Left and right controls/icons -->
		<button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
			<span class="carousel-control-next-icon"></span>
		</button>
	</div>
	<hr/>
	<div>
		<h4 class="attentive ms-3 text-center">Best Seller</h4>
		<div class="container py-4">
			<div class="row">
				{% for b in bestseller %}
					<div class="col-md-6 col-lg-4 col-xl-3">
						<div class="product-grid">
							<div class="product-image">
								<a href="{{path('proDetail_page', {'id': b.id})}}" class="image">
									{% set img = b.image %}
									<img src="{{asset('images/'~img)}}">
								</a>
								<ul class="product-links">
									<li>
										<a href="#">
											<i class="fa fa-search"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-heart"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-random"></i>
										</a>
									</li>
								</ul>
								<form action="{{path('shoppingCart', {'id': b.id})}}" method="POST">
									<input type="hidden" name="pro_id" value="{{b.name}}">
									<input type="hidden" name="pro_quantity" value="1"/>
									<input type="submit" class="add-to-cart fw-bold" name="btn_AddtoCart" value="Add to Cart"/>
								</form>
							</div>
							<div class="product-content">
								<h3 class="title">
									<a href="{{path('proDetail_page', {'id': b.id})}}">{{b.name}}</a>
								</h3>
								<div class="price">
									<a href="{{path('proDetail_page', {'id': b.id})}}">${{b.price}}</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>
	<div class="text-center mb-3">
		<a href="{{path('showProduct')}}" class="btn-home btn-radius text-center">
			See More</a>
	</div>
	<video src="{{asset('video/introduction.mp4')}}" loop autoplay muted></video>

	<hr/>
	<div>
		<h4 class="attentive ms-3 text-center">New Items</h4>
		<div class="container py-4">
			<div class="row">
				{% for n in newItems %}
					<div class="col-md-6 col-lg-4 col-xl-3">
						<div class="product-grid">
							<div class="product-image">
								<a href="{{path('proDetail_page', {'id': n.id})}}" class="image">
									{% set img = n.image %}
									<img src="{{asset('images/'~img)}}">
								</a>
								<ul class="product-links">
									<li>
										<a href="#">
											<i class="fa fa-search"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-heart"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-random"></i>
										</a>
									</li>
								</ul>
								<form action="{{path('shoppingCart', {'id': n.id})}}" method="POST">
									<input type="hidden" name="pro_id" value="{{n.id}}">
									<input type="hidden" name="pro_quantity" value="1"/>
									<input type="submit" class="add-to-cart fw-bold" name="btn_AddtoCart" value="Add to Cart"/>
								</form>
							</div>
							<div class="product-content">
								<h3 class="title">
									<a href="{{path('proDetail_page', {'id': n.id})}}">{{n.name}}</a>
								</h3>
								<div class="price">
									<a href="{{path('proDetail_page', {'id': n.id})}}">${{n.price}}</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="text-center">
			<a href="{{path('showProduct')}}" class="btn-home btn-radius text-center">
				See More</a>
		</div>
	</div>
{% endblock %}
