{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link href="{{asset('css/header.css')}}" rel="stylesheet" media="all">
{% endblock %}
{% block body %}
	<!-- Shop Start -->
	<div class="container-fluid">
		<div class="row ">
			
			<!-- Shop Sidebar Start -->
			<div
				class="col-lg-3 col-sm-3 shadow-sm p-3 mb-5 bg-body rounde">
				<!-- Category Start -->
				<div class="border-bottom mb-4 pb-4">
					<div class="row">
						<h5 class="font-weight-semi-bold mb-4">Category</h5>
						<a href="">Shirt</a>
						<a href="">Pan</a>
						<a href="">Jacket</a>
						<a href="">Hoodie</a>
						<a href="">Dress</a>
					</div>
				</div>
				<!-- Category End -->

				<!-- For Gender Start -->
				<div class="border-bottom mb-4 pb-4 filter">
					<div class="row">
						<h5 class="font-weight-semi-bold mb-4">For Gender</h5>
						<a href="">Men's Clothing</a>
						<a href="">Women's Clothing</a>
					</div>
				</div>
				<!-- For Gender End -->
				<!-- Price Start -->
				<div class="border-bottom mb-4 pb-4 filter">
					<h5 class="font-weight-semi-bold mb-4">Filter by Price</h5>
					<div class="product-count">
						<form action="#" class="display-flex">
							<div class="qtyminus">-</div>
							<input type="text" name="price" value="0.01" class="qty" data-decimals="2" min="0" max="9" step="0.1">
							<div class="qtyplus">+</div>
						</form>
					</div>
				</div>
				<!-- Price End -->

				<!-- Size Start -->
				<div class="mb-5">
					<h5 class="font-weight-semi-bold mb-4 filter">Filter by Size</h5>

				</div>
				<!-- Size End -->
			</div>
			<!-- Shop Sidebar End -->

			<!-- Shop Product Start -->
			
			 <div class="col-lg-9 col-sm-9"> 
				<main role="main">
    <!-- Block content - Đục lỗ trên giao diện bố cục chung, đặt tên là `content` -->
    <div class="container mt-4">
        <div id="thongbao" class="alert alert-danger d-none face" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <h1 class="text-center">Category</h1>
        <div class="row">
            <div class="col col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Category Name</th>
                            <th>Description</th>
                            <!-- <th>Thành tiền</th> -->
                        </tr>
                    </thead>
                    <tbody id="datarow">
                        <tr>
						{% for c in category %}
							s
						
                            <td>{{c.id}}</td>
                            <td><input value="{{c.name}}"></td>
                            <td class="text-right"><input value="{{c.descriptions}}"></td>
							
                            <td>
                                <!-- Nút xóa, bấm vào sẽ xóa thông tin dựa vào khóa chính `sp_ma` -->
                                <a id="delete_1" data-sp-ma="2" class="btn btn-danger btn-delete-product" 
								href="{{path('category_delete',{'id':c.id})}}">
                                    <i class="fa fa-trash" aria-hidden="true"></i> Delete
                                </a>
                            </td>
                        </tr>
						{% endfor %}
                    </tbody>
                </table>
				  <a href="#" class="btn btn-warning btn-md"><i class="fa fa-arrow-left"
                        aria-hidden="true"></i>&nbsp;Back to homepage</a>

				<!-- Product -->
				<div class="col-12 pb-1">
					<nav aria-label="Page navigation">
						<div class="row">
							{% for c in category %}
								<div class="col-md-6 col-lg-4 col-xl-3 mb-4">
									<div class="product-grid">
										<div class="product-image">
											{# <a href="{{path('proDetail_page', {'id': c.id})}}" class="image">
												{% set img = c.image %}
												<img src="{{asset('images/'~img)}}" class="card-img-top" alt="<?= $row['name'] ?>"/>
											</a> #}
											<ul class="product-links">
												<li>
													<a href="#">
														<i class="fa fa-search"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-heart"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-random"></i>
													</a>
												</li>
											</ul>
											<form action="?page=shoppingcart" method="POST">
												<input type="hidden" name="pro_id" value="SP01">
												<input type="hidden" name="pro_quantity" value="1"/>
												<input type="submit" class="add-to-cart fw-bold" name="btn_AddtoCart" value="Add to Cart"/>
											</form>

										</div>
										{# <div class="product-content">
											<h3 class="title">
												<a href="{{path('proDetail_page', {'id': c.id})}}">{{c.name}}</a>
											</h3>
											{# <div class="price"><a href="{{path('proDetail_page', {'id': c.id})}}">${{c.price}}</a></div> #}
										{# </div>  #}
									</div>
								</div>
							{% endfor %}				

						</div>
						<ul class="pagination justify-content-center mb-3">
							<li class="page-item disabled">
								<a class="page-link" href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
						
              
            </div>
        </div>
    </div>
    <!-- End block content -->
</main>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/popperjs/popper.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Custom script - Các file js do mình tự viết -->
<script src="../assets/js/app.js"></script>

								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<!-- Shop Product End -->
	</div>
</div>
<!-- Shop End -->{% endblock %}
