{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/header.css')}}">
{% endblock %}
{% block body %}
	<div class="row">
    {{ form_start(userForm) }}
			<div class="col-lg-8">
				<div class="card mb-4">
					<div class="card-body">
                    <div class="row">
                            {{ form_widget(userForm.username) }}
							<div class="col-sm-3">
								<p class="mb-0" >{{ form_label(userForm.fullname) }}</p>
							</div>
							<div class="col-sm-9">
								<p class="text-muted mb-0">{{ form_widget(userForm.fullname, {'attr':{'autocomplete': 'off'}}) }}</p>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">{{ form_label(userForm.birthday) }}</p>
							</div>
							<div class="col-sm-9">
								<p class="text-muted mb-0">{{ form_widget(userForm.birthday, {'attr': {'class': 'input-text me-2 input-form', 'placeholder':'Birthday'}}) }}</p>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">{{ form_label(userForm.address) }}</p>
							</div>
							<div class="col-sm-9">
								<p class="text-muted mb-0">{{ form_widget(userForm.address, {'attr':{'autocomplete': 'off'}}) }}</p>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">{{ form_label(userForm.phone) }}</p>
							</div>
							<div class="col-sm-9">
								<p class="text-muted mb-0">{{ form_widget(userForm.phone, {'attr':{'autocomplete': 'off','pattern':'[0]{1}[0-9]{9}'}}) }}</p>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">{{ form_label(userForm.gender) }}</p>
							</div>
							<div class="col-sm-9">
								<p class="text-muted mb-0">{{ form_widget(userForm.gender, {'attr':{'autocomplete': 'off'}}) }}</p>
							</div>
						</div>
						<div class="col-md-12">
							<div class="add mt-3">
								{{form_row(userForm.save, {'attr':{'class': 'btn btn-dark me-4'}})}}
							</div>
						</div>
					</div>
				</div>
			</div>
            {{ form_end(userForm) }}
	</div>
{% endblock %}
