{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link href="{{asset('css/header.css')}}" rel="stylesheet" media="all">
{% endblock %}


{% block body %}
	<div class="page-content">
		<div class="form-v6-content">
			<div class="form-left">
				<img src="images/Signin.png" alt="form">
			</div>
			{{ form_start(registrationForm, {'attr': {'class': 'form-detail'}}) }}
			<h2>Register</h2>
			<div
				class="form-row">
				{{ form_widget(registrationForm.fullname, {'attr': {'class': 'input-text me-2 input-form', 'placeholder':'Full name'}}) }}
			</div>
			<div
				class="form-row">
				{{ form_widget(registrationForm.username, {'attr': {'class': 'input-text me-2 input-form', 'placeholder':'Username'}}) }}
			</div>
			<div class="form-row">
				{{ form_widget(registrationForm.password, {'attr': {'class': 'input-text me-2 input-form', 'placeholder':'Password'}}) }}
			</div>
			<div class="form-row">
				{{ form_widget(registrationForm.gender, {'attr': {'class': 'input-text me-2 input-form', 'placeholder':'Phone'}}) }}
			</div>
			<div class="form-row">
				{{ form_widget(registrationForm.birthday, {'attr': {'class': 'input-text me-2 input-form', 'placeholder':'Birthday'}}) }}
			</div>
			<div class="form-row">
				{{ form_widget(registrationForm.phone, {'attr': {'class': 'input-text me-2 input-form', 'placeholder':'Phone'}}) }}
			</div>

			<div class="form-row">
				{{ form_widget(registrationForm.address, {'attr': {'class': 'input-text me-2 input-form', 'placeholder':'Address'}}) }}
			</div>
			{# <div class="input-form text-center">
				<p>You already have an account
					<a href="{{path("logIn_page")}}">Log In</a>
				</p>
			</div> #}
			<div
				class="form-row-last">
				{# {{ form_row(registrationForm.save, {'attr': {'class': 'input-text me-2'}}) }} #}

				<input type="submit" name="register" class="register" value="Register">
			</div>
			{{ form_end(registrationForm) }}
		</div>
	</div>

{% endblock %}
