{% extends 'admin.html.twig' %}
{% block stylesheets %}
	<link href="{{asset('css/admin.css')}}" rel="stylesheet" media="all">
{% endblock %}

{% block body %}
	<section class="header">
		<div class="container mt-4 mb-3">
			<div class="text-center lh-1 mb-2">
				<h4 class="fw-bold">Order List</h4>
				{# <span class="fw-normal">Payment slip for the month of June 2021</span> #}
			</div>
			<div class="d-flex justify-content-end">
				<span>Branch: DANA_ISCHG</span>
			</div>
		</div>
		<div class=" mb-5 mx-5">
			<div class="col-md-12">
				<div class="row">
					<div class="row">
						<div class="col-md-6">
							<div>
								<span class="fw-bolder">Last Update:
								</span>
								<small class="ms-3">February, 2023</small>
							</div>
						</div>
						<div class="col-md-6">
							<form action="?page=product" class="d-flex ms-4 mb-2">
								<input type="text" class="form-control rounded" name="searchValue" placeholder="Search..." aria-label="search" aria-describedby="search-addon"/>
								<button type="submit" name="btnSearch" class="input-group-text border-0 ms-2 bg-dark">
									<i class="fas fa-search"></i>
								</button>
							</form>
						</div>
					</div>

					{# TABLE #}
					<table class="mt-4 table table-bordered text-center	">
						<thead class="bg-dark text-white">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Date</th>
								<th scope="col">Voucher</th>
								<th scope="col">Percent Discount</th>
								<th scope="col">Delivery Local</th>
								<th scope="col">Status</th>
							</tr>
						</thead>
						<tbody>
							{% for o in orders %}
								<tr>
									<th scope="row">{{o.id}}</th>
									<td>{{o.date|date("m/d/Y")}}</td>
									<td>{{o.voucher}}</td>
									<td>{{o.percentDiscount}}</td>
									<td>{{o.deliveryLocal}}</td>
									{% if (o.status == 0)%}
										<td>
											<button type="button" class="btn btn-danger fa fa-times"></button>
										</td>
									{% else %}
										<td>
											<button type="button" class="btn btn-success fa fa-check"></button>
										</td>
									{% endif %}
								</tr>
							</tbody>
						{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>{% endblock %}
