{% extends 'admin.html.twig' %}
{% block stylesheets %}
	<link href="{{asset('css/admin.css')}}" rel="stylesheet" media="all">
{% endblock %}

{% block body %}
	<script>
		// Function to check if the user wants to delete or not.
function deleteConfirm() {
if (confirm("Are you sure to delete!")) {
return true;
} else {
return false;
}
}
	</script>

	<section class="header mx-5">
		<div class="container mt-4 mb-3">
			<div class="text-center lh-1 mb-2">
				<h4 class="fw-bold">Add Product</h4>
			</div>
			<div class="d-flex justify-content-end">
				<span>Branch: DANA_ISCHG</span>
			</div>
		</div>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-5 text-center">
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-5 text-center">
				{{ message }}
			</div>
		{% endfor %}

		<table class="mt-2 table table-bordered">
			<div class="row">
				<div class="col-lg-6">
					<h5>
						Product List</h5>
				</div>
				<div class="col-lg-6 mx-auto">
					<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						<button class="btn btn-outline-dark" type="button">
							<a href="{{path('addPro_page')}}">Add new Product</a>
						</button>
					</div>
				</div>
			</div>

			<thead class="bg-dark text-white text-center">
				<tr>
					<th scope="col">Product ID</th>
					<th scope="col">Product Name</th>
					<th scope="col">Status</th>
					<th scope="col">Descriptions</th>
					<th scope="col">Price</th>
					<th scope="col">Category</th>
					{# <th scope="col">Supplier</th> #}
					<th scope="col">Image</th>

					{# Edit, Delete #}
					<th scope="col">Edit</th>
					<th scope="col">Delete</th>
					{# Edit, Delete #}

				</tr>
			</thead>
			{% for p in products %}
				<tr class="text-center align-middle">
					<th scope="row">{{p.id}}</th>
					<td>{{p.name}}</td>
					<td>{{p.status}}</td>
					<td>{{p.descriptions}}</td>
					<td>{{p.price}}</td>
					<td>{{p.category.name}}</td>
					{# <td>{{p.proSups.supplier.name}}</td> #}
					<td>
						{% set img = p.image %}
						<img src="{{asset('images/'~img)}}" width="100" height="auto" alt="" class="mx-3">
					</td>

					{# Edit, Delete #}
					<td>
						<a href="{{path('editPro_page', {'id':p.id})}}">
							<button class="bi bi-pencil-square border-0 bg-white"></button>
						</a>
					</td>
					<td>
						<a href="{{path('deletePro_page', {'id':p.id})}}" onclick="return deleteConfirm()">
							<button class="bi bi-trash3 border-0 bg-white"></button>
						</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</tbody>
</section>{% endblock %}
