{% extends 'admin.html.twig' %}
{% block stylesheets %}
	<link href="{{asset('css/admin.css')}}" rel="stylesheet" media="all">
{% endblock %}

{% block body %}
	<section class="header mx-5">
		<div class="container mt-4 mb-3">
			<div class="text-center lh-1 mb-2">
				<h4 class="fw-bold">Add Product</h4>
			</div>
			<div class="d-flex justify-content-end">
				<span>Branch: DANA_ISCHG</span>
			</div>
		</div>
		<div class="add mt-3 justify-content-end">
			<button class="btn btn-dark me-4">
				<a href="{{path('addPro_page')}}">Add new Product</a>
			</button>
		</div>

		<table class="mt-2 table table-bordered">
			<div>
				<h5>
					Product List</h5>
			</div>
			<thead class="bg-dark text-white text-center">
				<tr>
					<th scope="col">Product ID</th>
					<th scope="col">Product Name</th>
					<th scope="col">Status</th>
					<th scope="col">Descriptions</th>
					<th scope="col">Price</th>
					<th scope="col">Category</th>
					{# <th scope="col">Supplier</th> #}
					<th scope="col">Image</th>

					{# Edit, Delete #}
					<th scope="col">Edit</th>
					<th scope="col">Delete</th>
					{# Edit, Delete #}

				</tr>
			</thead>
			{% for p in products %}
				<tr class="text-center align-middle">
					<th scope="row">{{p.id}}</th>
					<td>{{p.name}}</td>
					<td>{{p.status}}</td>
					<td>{{p.descriptions}}</td>
					<td>{{p.price}}</td>
					<td>{{p.category.name}}</td>
					{# <td>{{p.proSups.supplier.name}}</td> #}
					<td>
						{% set img = p.image %}
						<img src="{{asset('images/'~img)}}" width="100" height="auto" alt="" class="mx-3">
					</td>

					{# Edit, Delete #}
					<td>
						<a href="{{path('editPro_page', {'id':p.id})}}">
							<button class="bi bi-pencil-square border-0 bg-white"></button>
						</a>
					</td>
					<td>
						<a href="{{path('editPro_page', {'id':p.id})}}">
							<button class="bi bi-trash3 border-0 bg-white"></button>
						</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</tbody>
</section>{% endblock %}
