{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link href="{{asset('css/header.css')}}" rel="stylesheet" media="all">

{% endblock %}

{% block body %}

	<div class="row ">
		<div class="col-md-7 mt-3">
			<div class="right border">
				<div class="header-payment fw-bold">Order Summary</div>
				{% set total = 0 %}
				{% for p in products %}
					<hr>
					<div class="row item d-flex align-items-center">
						{% set img = p.image %}
						<div class="col-4 align-self-center" style="width: 15%"><img class="img-fluid" src="{{asset('images/'~img)}}"></div>
						<div class="col-8">
							<div class="pb-2">
								<b>${{p.unitTotal}}</b>
							</div>
							<div class=" text-muted">{{p.pName}}</div>
							<div class="">Quantity:
								{{p.num}}</div>
							{# {{ form_widget(orderForm.orderDetails.quantity) }} #}
							<div class=" text-muted">{{p.sizeName}}</div>
						</div>
					</div>
					{% set total = (total + p.unitTotal) %}
				{% endfor %}


			</div>
		</div>
		<div class="col-md-5 p-0">
			{{ form_start(orderForm, {'action': path('addOrder')}) }}
			<div class="left border">
				<div class="row">
					<span class="header-payment fw-bold text-dark">Payment</span>
				</div>
				<span>Name:</span>
				{# <input type="text" class="input" name="name" value="{{user.fullname}}"> #}
				{{ form_widget(orderForm.cusName, {'attr':{'value': user.fullname, 'class': 'input' }}) }}

				<span>Phone number:</span>
				{# <input type="text" class="input" name="phone" value="{{user.phone}}"> #}
				{{ form_widget(orderForm.cusPhone, {'attr':{'value': user.phone, 'class': 'input' }}) }}

				<span>Address:</span>
				{{ form_widget(orderForm.deliveryLocal, {'attr':{'value': user.address, 'class': 'input' }}) }}


			</div>
			<div class="left border">
				<div class="row">
					<span class="header-payment fw-bold text-dark">Voucher</span>
				</div>
				<span>Voucher:</span>
				{{ form_widget(orderForm.voucher, {'attr':{'value': "", 'class': 'input' }}) }}
			{# <span>Percent discount:</span> #}
				{# {{ form_widget(orderForm.percentDiscount, {'attr':{'value': user.address, 'class': 'input' }}) }} #}
			</div>
			<hr>

			<div class="row lower">
				<div class="col text-left">Subtotal</div>
				<div class="col text-right">${{total}}.00</div>
			</div>
			<div class="row lower">
				<div class="col text-left">Delivery Standar</div>
				<div class="col text-right">$5.00</div>
			</div>
			<div class="row lower">
				<div class="col text-left">
					<b>Total to pay</b>
				</div>
				<div
					class="col text-right">
					{# <b>${{total + 5 }}</b> #}
					<div class="d-flex">
						${{total + 5}}.00
						
						{{ form_widget(orderForm.total, {'attr':{'value': (total + 5), 'class': 'border-0 p-0 text-dark d-none' }})  }}</div>
				</div>
				{# <input class="input" type="hidden" name="total" value=""> #}
			</div>
			<div class="mt-3">
				<button class="btn-payment" name="btnPayment">Payment</button>
			</div>
			{{ form_end(orderForm) }}</div>
	</div>
{% endblock %}
